@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black text-white;
}

@layer utilities {
	.bg-metal {
		background: linear-gradient(169deg, #fff 0%, #282828 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
